:host {
    direction: rtl;
}

.player-cube {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.player-name {
    font-weight: bold;
    color: #333;
}

.player-score {
    color: #8d1010;
}